body {
	height: 100%;
	background-image: url(../images/background.jpg);
	overflow: auto;
}

#container {
	height: 87vh;
	width: 1000px;
	margin: 0 auto;
	margin-top: 35px;
	background-color: #9FC9ED;
	border: 10px solid black;
	border-radius: 50px;
	text-align: center;
	position: relative;
}

#content {
	margin: 0 auto;
}

h1 {
	font-family: 'Stalinist One', cursive;
	font-size: 4em;
	color: #f2e39e;
	text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 
		0 -3px black;
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	padding: 5px;
}

button {
	font-family: 'Press Start 2P', cursive;
	font-size: 3em;
	background-color: #f2e39e;
	width: 40%;
	height: 15%;
	border: 2px solid black;
	border-radius: 25px;
	position: absolute;
	top: 40%;
	left: 30%;
}

button:hover {
	background-color: purple;
	border-color: white;
	color: white;
	cursor: pointer;
}