body {
	height: 100%;
	background-image: url(../images/background.jpg);
	overflow: auto;
}

#container {
	height: 87vh;
	width: 1000px;
	margin: 0 auto;
	margin-top: 35px;
	background-color: #9FC9ED;
	border: 10px solid black;
	border-radius: 50px;
	text-align: center;
	position: relative;
}

#content {
	margin: 0 auto;
}

h1 {
	font-family: 'Stalinist One', cursive;
	font-size: 4em;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 
		0 -3px black;
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	padding: 5px;
}

h2, h3, h4 {
	font-family: 'Russo One', sans-serif;
}

h4 {
	font-size: 1.2em;
	padding: 5px;
}

h3 {
	font-size: 1.8em;
	padding: 15px;
}

h2 {
	font-size: 2.8em;
	margin-top: 15px;
	padding: 5px;
}

h2:hover {
	background-color: purple;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	border-radius: 25px;
}

#start-button {
	font-family: 'Press Start 2P', cursive;
	font-size: 3em;
	background-color: white;
	width: 40%;
	height: 15%;
	border: 2px solid black;
	border-radius: 25px;
	position: absolute;
	top: 40%;
	left: 30%;
}

#start-button:hover {
	background-color: purple;
	border-color: white;
	color: white;
	cursor: pointer;
}

#question, #result, #answer-choices, #stats, #correct-answer, #timer, #restart-button {
	margin: 0 auto;
	width: 760px;
	background-color: white;
	border-radius: 25px;
}

#images {
	margin-top: 16px;
}

.gif {
	width: 560px;
	height: 310px;
}